OPENAI_API_KEY=<your openai key. if you are using local ollama models then ignore it or you can set anything here that does not matter>
OPENAI_BASE_URL=<If you using local ollama models you have to set this url else ignore it>

OLLAMA_BASE_URL=<>